<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oyunların Burada Al Çabuk Sakla</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/custom_scroll_bar_white.css">
</head>
<body>
    <div class="container">
        <ul class="side-bar">
            <h1 style="margin: 3px;">Oyunların Burada Al Çabuk Sakla</h1>
            <li><a href="#">Ana Sayfa</a></li>
        </ul>
        <div class="content">
            <h1>Oyunların Burada Al Çabuk Sakla</h1>
            <h2>Trendler</h2>
            <div class="trendler">
                <ul>
                    <li>
                        <img src="static/OIP.webp" alt="Roblox">
                        <span>Roblox</span>
                        <p class="price">Bedava</p>
                        <button class="button" onclick="window.location.href='https://play.google.com/store/apps/details?id=com.roblox.client'">Git</button>
                    </li>
                    <li>
                        <img src="static/minecraft.webp" alt="Minecraft">
                        <span>Minecraft</span>
                        <p class="price">510 TL</p>
                        <button class="button" onclick="window.location.href='https://play.google.com/store/apps/details?id=com.mojang.minecraftpe'">Git</button>
                    </li>
                    <li>
                        <img src="static/csgo-keyart.jpg" alt="CSGO">
                        <span>CS GO</span>
                        <p class="price2">15 $</p>
                        <button class="button" onclick="window.location.href='https://store.steampowered.com/app/730/CounterStrike_2/'">Git</button>
                    </li>
                    <li>
                        <img src="static/brax.webp" alt="Brawl Stars">
                        <span>Brawl Stars</span>
                        <p class="price">Bedava</p>
                        <button class="button" onclick="window.location.href='https://play.google.com/store/apps/details?id=com.supercell.brawlstars'">Git</button>
                    </li>
                    <li>
                        <img src="static/need-for-speed-2016-qxkco.jpg" alt="NFS">
                        <span>Need For Speed</span>
                        <p class="price">6 $/Ay</p>
                        <button class="button" onclick="window.location.href='https://store.steampowered.com/app/1262540/Need_for_Speed/'">Git</button>
                    </li>
                    <li>
                        <img src="static/512x512bb.jpg" alt="Stickman Party">
                        <span>Stickman Party</span>
                        <p class="price">Bedava</p>
                        <button class="button" onclick="window.localion.href=''">Git</button>
                    </li>
                </ul>
            </div>
            <h2>Ürünler</h2>
            <div class="trendler">
                <ul>
                    <li>
                    <a href="https://www.meta.com/quest/quest-3/buy-now/">
                        <img src="https://lookaside.fbsbx.com/elementpath/media/?media_id=1656151888438046&version=1772548871&transcode_extension=webp" alt="Meta Quest 3">
                        <span>Meta Quest 3</span>
                        <p class="price">500 $</p>
                    </a>
                    </li>
                    <li>
                    <a href="https://www.trendyol.com/asus/rog-astral-rtx5080-o16g-gaming-16gb-256bit-gddr7-dp-hdmi-pci-5-0-ekran-karti-p-924126558">
                        <img src="https://cdn.dsmcdn.com/mnresize/620/920/ty1665/prod/QC/20250422/17/86abedef-2a87-3ab0-ab6f-500269bdd1aa/1_org_zoom.jpg" alt="ASUS ROG-ASTRAL-RTX5080-O16G-GAMING 16GB 256Bit GDDR7 DP/HDMI PCI 5.0 Ekran Kartı">
                        <span>ASUS RTX 5080 16 GB Ekran Kartı</span>
                        <p class="price">118'879 TL</p>
                    </a>
                    </li>
                    <li>
                    <a href="https://www.trendyol.com/rampage/kb-r77-rainbow-backlight-mavi-switch-mekanik-klavye-usb-36-tuslu-mini-gaming-oyuncu-klavyesi-p-82885241?boutiqueId=61&merchantId=129210">
                        <img src="https://cdn.dsmcdn.com/mnresize/620/920/ty1827/prod/QC_ENRICHMENT/20260218/13/afbe34a4-f6e4-3611-8ed3-6820e952db2e/1_org_zoom.jpg" alt="Klavye">
                        <span>Rampage usb 36 Tuşlu oyuncu klavyesi</span>
                        <p class="price">899 TL</p>
                    </a>
                    </li>
                    <li>
                        <a href="https://www.fruugo.com.tr/floppa-pelus-oyuncaklar-alfabe-lore-pelus-oyuncak-sevimli-yumusak-dolmas%C4%B1-karikatur-bebekler-cocuk-dogum-gunu-hediyesi-flopa-peluche-kawaii-oyuncak-hediye/p-146067008-308052458?language=tr">
                            <img src="https://img.fruugo.com/product/3/21/1794329213_max.jpg" alt="Floppa :D">
                            <span>Floppa Peluş!</span>
                            <p class="price">850 TL</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>